<h2><%= @bottle.name %></h3><br>

<p><h3>Grape Type:</h3> <%= @bottle.grape %></p>
<p><h3>Bottle Year:</h3> <%= @bottle.year %></p>
<p><h3>Bottle Location:</h3> <%= @bottle.location %></p>

<br>

<form action="/bottles/<%= @bottle.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Remove Bottle From Cellar">
</form>

<br>

<a href="/bottles/<%=@bottle.id%>/edit">Edit Bottle</a><br>